.custom-container {
  display: flex;
  background-color: #181C20;
  
  gap: 20px; /* Añadido: Espacio entre secciones */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
  height: 100%;
}

.left-section {
  flex: 1;
 /* Ancho mínimo para la sección izquierda */
  text-align: center;
  color: white;

}

.content-home {
  background-image: url("../../assets/FallingCoins.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  align-items: center;
}


.right-section {
  flex: 1;
  display: flex;
  justify-content: center; /* Centrar la imagen horizontalmente */
  align-items: center; /* Centrar la imagen verticalmente */
  max-width: 522.42px; /* Ancho máximo para la imagen */
  width: 100%;
}

.right-section img {
  width: 100%;
  height: auto;
  border-radius: 10.61px 0px 0px 0px;
  opacity: 1;
}

/* Estilos para los textos y el botón */
.Welcome {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  color: white;
}

.Cubix {
  color: var(--Tertiary-Tertiary06, #ffde59);
}

.parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: white;
}

.Boton {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffde59;
  color: black;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .left-section,
  .right-section {
    /* Tomar el 100% del ancho en pantallas pequeñas */
   /* Centrar el texto en pantallas pequeñas */
  }

  .right-section {
    margin-top: 20px; /* Espacio superior para separar las secciones */
  }

  .right-section img {
    max-width: 100%;
    height: auto;
  }
}
