@tailwind base;
@tailwind components;
@tailwind utilities;


/* Personalizar la pista de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra vertical */
    height: 12px; /* Alto de la barra horizontal */
  }
  
  /* Personalizar el track de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #20242a; 
  }
  
  /* Personalizar el thumb de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
  }
  
  /* Cambiar el color del thumb cuando se pasa el mouse por encima */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  